<!-- Softwares Section -->
    <section id="softwares">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What I do</h2>
                    <h3 class="section-subheading text-muted">Web based interface softwares.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <a href="asterism-for-domotics" class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <img style="position: relative; top: -8px; width: 122px;" src="img/asterism.ico.png" alt="">
                    </a>
                    <a href="asterism-for-domotics"><h4 class="service-heading">asterism for domotics</h4></a>
                    <p class="text-muted">Domotics oriented standalone software. Made in NodeJS & Material interface. NOT cloud based. Built for PM2.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Website models</h4>
                    <p class="text-muted">Coming next...</p>
                </div>
            </div>
        </div>
    </section>