---
---

@import "{{ site.theme }}";

blockquote {
  border-left: 3px solid #48ff25;
}

blockquote img {
  float: right;
  height: 6em;
}

blockquote + hr {
  clear: both;
}

a {
  color: #ff6e0f;
}

h1 {
  font-size: 30px;
  color: #48ff25;
}

h2 {
  color: #48ff25;
}

#header nav li a {
  background-color: #26b90a;
}

#header nav li a:hover {
  background-color: #21850f;
}
